.ItemDetail {
  
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  min-width: 750px;
  gap: 30px
}

.mh {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.price {
  font-weight: bold;
  font-size: 50px;
}

.detailLeft {
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px
}
.detailLeft img {
  height: 280px;
  width: 100%;
  z-index: 0;
}

.detailRight {
  /* background-color: rgb(179, 179, 179); */
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fav {
  cursor: pointer;
  display: block;
  position:  absolute;
  
  z-index: 2;
}
li{
  list-style-type: none;
}

.favoritos {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  
  position: relative;
  top: 5px;
  left: 10px;
}

.favoritos i {
  color: rgb(255, 160, 176);
  font-size: 45px;
  
}