.cartCant {
    position: absolute;
    top: 34px;
    right: 135px;
    padding: 0px 3px 0px 3px;
    background-color: red;
    border: solid 2px red;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.icon {
    font-size: 33px;
}