* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root {
  background-color: rgb(230, 230, 230) ;
  min-height: 100vh;
}

.active button {
  background-color: white;
}

.active i {
  color: black;
}

.bColor {
  background-color: rgba(0, 0, 0, 0.637);

  
}
.NavBar {
  padding: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 58px;
}

a {
  text-decoration: none;
  color: black;
}

.categories {
  display: flex;
  width: 400px;
  justify-content: space-evenly;
}

.loginHeader {
  position: sticky;
  top: 0px;
}

.delete2{
  font-size: 12px;
  color: red;
  opacity: 0;
}

.delete2:hover {
  opacity: 100;
}
